= simple_form_for(@labor_task) do |f|
  = f.error_notification

  .form-inputs
    = f.input :description
    = f.input :complete
    = f.association :didLaborEvent

  .form-actions
    = f.button :submit
