%h1 Listing labor_tasks

%table.table.table-striped
  %thead
    %tr
      %th Description
      %th Complete
      %th Did labor event
      %th
      %th
      %th

  %tbody
    - @labor_tasks.each do |labor_task|
      %tr
        %td= labor_task.description
        %td= labor_task.complete
        %td= labor_task.didLaborEvent
        %td= link_to 'Show', labor_task
        %td= link_to 'Edit', edit_labor_task_path(labor_task)
        %td= link_to 'Destroy', labor_task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Labor task', new_labor_task_path
