%p#notice= notice

%p
  %b Request:
  = @maintenance_request.name
%p
  %b Submitted by:
  = @maintenance_request.user.name
%p
  %b Description:
  = @maintenance_request.description
%p
  %b Done?
  = @maintenance_request.done ? 'Yes' : 'No'

= link_to 'Edit', edit_maintenance_request_path(@maintenance_request)
\|
= link_to 'Back', maintenance_requests_path
