= simple_form_for(@recipe) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :url
    = f.association :user
    = f.input :partner
    = f.input :ingredients
    = f.input :date_to_serve, as: :date_picker
    = f.input :day, as: :wday
  .form-actions
    = f.button :submit
