%h1 Listing recipes

%table
  %thead
    %tr
      %th Name
      %th Url
      %th Date to serve
      %th User
      %th Partner
      %th Ingredients
      %th
      %th
      %th
      
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.name
        %td= recipe.url
        %td= recipe.date_to_serve
        %td= recipe.user
        %td= recipe.partner
        %td= recipe.ingredients
        %td= link_to 'Show', recipe
        %td= link_to 'Edit', edit_recipe_path(recipe)
        %td= link_to 'Destroy', recipe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
