%h1 Listing did_labor_events

%table
  %thead.table.table-striped
    %tr
      %th Time
      %th Labor
      %th Notes
      %th
      %th
      %th

  %tbody
    - @did_labor_events.each do |did_labor_event|
      %tr
        %td= did_labor_event.time
        %td= did_labor_event.labor
        %td= did_labor_event.notes
        %td= link_to 'Show', did_labor_event
        %td= link_to 'Edit', edit_did_labor_event_path(did_labor_event)
        %td= link_to 'Destroy', did_labor_event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Did labor event', new_did_labor_event_path
