= simple_form_for(@labor) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :user
    = f.input :dueday, as: :wday

  .form-actions
    = f.button :submit
