%p#notice= notice

%p
  %b Name:
  = @labor.name
%p
  %b Description:
  = @labor.description
%p
  %b User:
  = @labor.user.name
%p
  %b Dueday:
  = @labor.dueday
%br
%h4 Labor Tasks
%ol
  - @labor.tasks.each do |task|
    %li= task.description

%br
- if user_signed_in? && current_user.isLaborCzar
  = link_to 'Czar Add Task', new_labor_task_path(@labor), class: 'btn btn-warning'
  \||
  = link_to 'Czar Assign & Edit Labor Description', edit_labor_path(@labor), class: 'btn btn-warning'
  %br
  %br
= link_to 'Back', labors_path, class: 'btn btn-default'
