%p#notice= notice

%h4
  %b Labor Position:
  = @labor.name
%h4
  %b Description:
  = @labor.description
%h4
  %b Assignee:
  = @labor.user.name
%h4
  %b Day of the week:
  = @labor.dueday
%br
%h4 Labor Tasks
%ol
  - @labor.tasks.each do |task|
    %li= task.description

%br
= link_to 'Back', labors_path, class: 'btn btn-default'
%br
%br
%br

-# The "CZAR PANEL" TODO replace with in-place editing
- if current_user_is_labor_czar
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h3 Czar Panel
        .panel-body
          = link_to 'Assign & Edit Description',
            edit_labor_path(@labor),
            class: 'btn btn-info'
          %br
          %br
          .well.well-sm
            = render 'tasks/form', labor: @labor
          = render 'tasks/table', tasks: @labor.tasks
          = link_to 'Issue Violation', new_labor_violation_path(@labor),
            class: 'btn btn-warning'
